body{
  background: #ee3f54;
}

body, h1, h2, h3, h4, h5, h6, button, a{
  font-family: 'Bree Serif', serif;
  color: white;
}

.callout{
  margin-bottom: 0;
}

.submenu-container{
  border: none;
}

.tabs-title{
  display: inline-block;
  float: none;
}

.tabs-content{
  background: inherit;
  border: none;
}

#social-container{
  background: #1c3636;
}

#logo-container .callout{
  background: inherit;
  margin-bottom: 0;
}

#menu-container,
.submenu-container{
  background: #48a19d;
}


#menu-container li a:hover{
  color: #f6e15f;
}

#tickets-action .callout{
  background: #5e7eb7;
}

#tickets-action .callout button{
  border-color: white;
  color: white;
}

#lineup-container{
  padding: 1em 0;
}

#lineup-container,
#lineup-tabs,
#lineup-container .tabs-content{
  background: #9676af;
  border: none;
  text-transform: uppercase;
  color: white;
}

#lineup-container .tabs-title a{
  color: #a7fffb;
  font-size: 18px;
}

#lineup-container .tabs-title a:hover,
#lineup-container .tabs-title.is-active a{
  background: inherit;
  color: white;
  outline: none;
}

#lineup-container img{
  width: 100%;
}

#lineup-container .cell:nth-child(odd) .orbit-caption{
  text-align: right;
}

#tickets-container {
  padding: 1em 0;
  background: #f6e15f;
}

#tickets-container h3{
  color: #161742;
}

#info-container{
  background: #161742;
  padding: 1em 0;
}

#info-container .info-map iframe{
  width: 100%;
}

#suscribe-container{
  background: #ee3f54;
  padding: 1em 0;
}

#suscribe-container h4 small{
  color: #ffcddc;
}

.error-container{
  display: none;
}
